@using Microsoft.AspNet.Identity;
@model IPagedList<RCS.viewModels.allProduct>
@using PagedList;
@using PagedList.Mvc;
@{ ViewBag.Title = "Advertises";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="category container">
    <h2 class="wow bounceIn pb-1 border-bottom font-weight-bold @RCS.Resources.Resource.text">@RCS.Resources.Resource.AllAdvertises</h2>
    @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
    {
<div class="row justify-content-center">
    <a href="~/Advertises/makeAdvertise" class="btn btn-primary wow tada">@RCS.Resources.Resource.MakeAdvertise</a>
</div>}
    <div class="row" align="center">
        <form class="ml-4 col-md-12">
            <div class="form-group row col-md-12">
                <label for="Search" class="col-sm-1 col-form-label col-form-label-lg wow fadeIn">@RCS.Resources.Resource.Search</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control col-md-12 form-control-lg wow fadeIn" id="Search">
                </div>
            </div>
        </form>
    </div>
    <div id="filter" class="row justify-content-center p-2 wow fadeIn" align="center">
        <a href="index" id="all" class="dep btn btn-outline-danger mr-1 mt-1 active" data-dep="All">@RCS.Resources.Resource.All</a>
        <div class="dropdown">
            <button class="dep btn btn-outline-danger dropdown-toggle mr-1 mt-1" data-dep="Buy / Sell" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @RCS.Resources.Resource.BuySell
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Equipment">@RCS.Resources.Resource.Equipment</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Basis">@RCS.Resources.Resource.Basis</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Devices">@RCS.Resources.Resource.Devices</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Shops">@RCS.Resources.Resource.Shops</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dep btn btn-outline-danger dropdown-toggle mr-1 mt-1" data-dep="Services" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @RCS.Resources.Resource.Services
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Interior Design">@RCS.Resources.Resource.InteriorDesign</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Exterior Design">@RCS.Resources.Resource.ExteriorDesign</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Design and Print Menus">@RCS.Resources.Resource.DesignandPrintMenus</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Franchise Guide">@RCS.Resources.Resource.FranchiseGuide</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Create Brandings">@RCS.Resources.Resource.CreateBrandings</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dep btn btn-outline-danger dropdown-toggle mr-1 mt-1" data-dep="Jobs" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @RCS.Resources.Resource.Jobs
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Stewarts">@RCS.Resources.Resource.Stewarts</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Chiefs">@RCS.Resources.Resource.Chiefs</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Delivery">@RCS.Resources.Resource.Delivery</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Cleaners">@RCS.Resources.Resource.Cleaners</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Accountants">@RCS.Resources.Resource.Accountants</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Managers">@RCS.Resources.Resource.Managers</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dep btn btn-outline-danger dropdown-toggle mr-1 mt-1" data-dep=" News / Events" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               @RCS.Resources.Resource.NewsEvents
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Local">@RCS.Resources.Resource.Local</a>
                <a class="dropdown-item cat @RCS.Resources.Resource.text" data-CateName="Global">@RCS.Resources.Resource.Global</a>
            </div>
        </div>
    </div>
</div>

<div class="products mb-4 mt-4 justify-content-center">
    <div class="row item justify-content-center ">
        @if (!Model.Any())
        {
            <h3 style="height:500px">No Advertises Found !!</h3> 
        }
        else
        {
            foreach (var product in Model)
            {
                var dep = " ";
                var cat = " ";
                if (product.depName == "Buy / Sell") { dep = RCS.Resources.Resource.BuySell; }
                else if (product.depName == "Services") { dep = RCS.Resources.Resource.Services; }
                else if (product.depName == "Jobs") { dep = RCS.Resources.Resource.Jobs; }
                else if (product.depName == "News / Events") { dep = RCS.Resources.Resource.NewsEvents; }


                if (product.catName == "Equipment") { cat = RCS.Resources.Resource.Equipment; }
                else if (product.catName == "Basis") { cat = RCS.Resources.Resource.Basis; }
                else if (product.catName == "Devices") { cat = RCS.Resources.Resource.Devices; }
                else if (product.catName == "Shops"){ cat = RCS.Resources.Resource.Shops;}
                else if (product.catName == "Interior Design") { cat = RCS.Resources.Resource.InteriorDesign; }
                else if (product.catName == "Exterior Design") { cat = RCS.Resources.Resource.ExteriorDesign; }
                else if (product.catName == "Design and Print Menues") { cat = RCS.Resources.Resource.DesignandPrintMenus; }
                else if (product.catName == "Franchise Guide") { cat = RCS.Resources.Resource.FranchiseGuide; }
                else if (product.catName == "Create Brandings") { cat = RCS.Resources.Resource.CreateBrandings; }
                else if (product.catName == "Stewarts") { cat = RCS.Resources.Resource.Stewarts; }
                else if (product.catName == "Chiefs") { cat = RCS.Resources.Resource.Chiefs; }
                else if (product.catName == "Delivery") { cat = RCS.Resources.Resource.Delivery; }
                else if (product.catName == "Cleaners") { cat = RCS.Resources.Resource.Cleaners; }
                else if (product.catName == "Accountants") { cat = RCS.Resources.Resource.Accountants; }
                else if (product.catName == "Managers") { cat = RCS.Resources.Resource.Managers; }
                else if (product.catName == "Local") { cat = RCS.Resources.Resource.Local; }
                else if (product.catName == "Global") { cat = RCS.Resources.Resource.Global; }


                <div class="p-2  wow bounceInUp" style="height:400px" data-CateName="@product.catName">
                    <img src="~/uploadedFiles/@product.imagePath">
                    <h6 class="p-1 mt-2">@product.name <span class="font-weight-bold float-right" style="font-size: 12px; line-height: 25px;">@product.price EGP</span></h6>

                    <span class="badge badge-primary p-1 " style="margin-top:8px">@dep</span>
                    <span class="badge badge-info p-1 ">@cat</span>
                    <a href="/Advertises/showDetails?id=@product.id" class="btn btn-danger float-right" role="button">@RCS.Resources.Resource.ShowDetails</a>
                </div>                
            }
        }
    </div>
</div>

@Html.PagedListPager(Model,page=>Url.Action("index",new { page }),new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded , DisplayPageCountAndCurrentLocation = true })


@section scripts{
    <script>
        new WOW().init();
        $(document).ready(function () {
            $("nav .navbar-collapse ul li a:eq(1)").css("color", "#ff4301");
            $("#filter .cat").on("click", function () {
                $("#filter .dep").removeClass("active");
                $(this).parent().prev().toggleClass("active");
                $("#filter .cat").removeClass("active");
                $(this).toggleClass("active");
                let val = $(this).attr("data-CateName");
                $.ajax({
                    url: `/api/department/GetCatPro?catName=${val}`,
                    method: "GET",
                    beforeSend: function () {
                        $(".products .item").empty();
                    },
                    success: function (data) {
                        $(".pagination-container").removeClass(" d-flex");
                        $(".pagination-container").addClass(" d-none");

                        $(".products .item").empty();
                        if (data.length == 0) {
                            $(".products .item").append(`<h3 style="height: 500px">No Advertises Found !!</h3>`);
                        }
                        for (let i = 0; i < data.length; i++) {
                            var imageName = data[i].image.split("\\");
                            var elem = `
                                    <div class="p-2  " style="height:400px" data-CateName="${data[i].cat}">
                                        <img src="../uploadedFiles/${imageName[imageName.length - 1]}">
                                        <h6 class="p-1 mt-2"> ${data[i].nam} <span class="font-weight-bold float-right" style="font-size: 12px; line-height: 25px;">${data[i].price} EGP</span></h6>
                                        <span class="badge badge-primary p-1 " style="margin-top:8px">${data[i].dep}</span>
                                        <span class="badge badge-info p-1 ">${data[i].cat}</span>
                                        <a href="/Advertises/showDetails?id=${data[i].id}" class="btn btn-danger float-right" role="button">@RCS.Resources.Resource.ShowDetails</a>
                                    </div>`;

                            $(".products .item").append(elem);
                        }
                    }
                });
            });

            $(".pagination-container").addClass(" d-flex justify-content-center");
            $(".pagination li").addClass(" page-item");
            $(".pagination li a").addClass(" page-link");

        });
    </script>
}

