@using Microsoft.AspNet.Identity;
@model RCS.viewModels.detailsViewModel
@{
    ViewBag.Title = RCS.Resources.Resource.ShowDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="details">

    <div class="container col-md-10  col-sm-12" style="margin-top: 150px;">
        <div class="row mt-4 ">
            <!-- Swiper -->
            <div class="swiper-container col-md-3 col-sm-12 wow bounceInUp ">
                <div class="swiper-wrapper">
                    @foreach (var image in Model.imagePath)
                    {
                        <div class="swiper-slide col-md-12">
                            <img src="/uploadedFiles/@image" class="img-fluid h-100" />
                        </div>
                    }
                </div>

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="ItemDetail col-md-6 col-sm-11 mx-auto border p-4 wow pulse">
                <h4 class="@RCS.Resources.Resource.text">@Model.productname</h4>
                <p class="@RCS.Resources.Resource.text">@Model.price @RCS.Resources.Resource.EGP</p>
                <p class="@RCS.Resources.Resource.text">@Model.address</p>
                @{ 
                    var dep = " ";
                    var cat = " ";
                    if (Model.depName == "Buy / Sell") { dep = RCS.Resources.Resource.BuySell; }
                    else if (Model.depName == "Services") { dep = RCS.Resources.Resource.Services; }
                    else if (Model.depName == "Jobs") { dep = RCS.Resources.Resource.Jobs; }
                    else if (Model.depName == "News / Events") { dep = RCS.Resources.Resource.NewsEvents; }


                    if (Model.catName == "Equipment") { cat = RCS.Resources.Resource.Equipment; }
                    else if (Model.catName == "Basics") { cat = RCS.Resources.Resource.Basis; }
                    else if (Model.catName == "Devices") { cat = RCS.Resources.Resource.Devices; }
                    else if (Model.catName == "Shops") { cat = RCS.Resources.Resource.Shops; }
                    else if (Model.catName == "Interior Design") { cat = RCS.Resources.Resource.InteriorDesign; }
                    else if (Model.catName == "Exterior Design") { cat = RCS.Resources.Resource.ExteriorDesign; }
                    else if (Model.catName == "Design and Print Menues") { cat = RCS.Resources.Resource.DesignandPrintMenus; }
                    else if (Model.catName == "Franchise Guide") { cat = RCS.Resources.Resource.FranchiseGuide; }
                    else if (Model.catName == "Create Brandings") { cat = RCS.Resources.Resource.CreateBrandings; }
                    else if (Model.catName == "Stewarts") { cat = RCS.Resources.Resource.Stewarts; }
                    else if (Model.catName == "Chiefs") { cat = RCS.Resources.Resource.Chiefs; }
                    else if (Model.catName == "Delivery") { cat = RCS.Resources.Resource.Delivery; }
                    else if (Model.catName == "Cleaners") { cat = RCS.Resources.Resource.Cleaners; }
                    else if (Model.catName == "Accountants") { cat = RCS.Resources.Resource.Accountants; }
                    else if (Model.catName == "Managers") { cat = RCS.Resources.Resource.Managers; }
                    else if (Model.catName == "Local") { cat = RCS.Resources.Resource.Local; }
                    else if (Model.catName == "Global") { cat = RCS.Resources.Resource.Global; }
                }
            <span class="badge badge-primary p-2 @RCS.Resources.Resource.text">@dep</span>
                <span class="badge badge-info p-2 @RCS.Resources.Resource.text">@cat</span>
            </div>
        </div>
    </div>

    <div class="container description col-md-10 col-sm-12 border p-4 wow fadeIn">
        <h2 class="@RCS.Resources.Resource.text">@RCS.Resources.Resource.Description</h2>
        <p>@Model.description</p>
    </div>

    @if (User.IsInRole("Admin") && Model.state == false)
    {
        <div class="container col-md-10 col-sm-12  p-4 wow fadeIn">
            <a href="~/Control/Reject/@Model.id" class="float-right btn btn-danger">Rejected</a>
            <a href="~/Control/Accepted/@Model.id" class="float-right btn btn-primary mr-2">Accepted</a>
        </div>
    }


    <!--Section: Contact v.2-->
    <section class="mb-4 container border p-4 mt-4 wow bounceInUp">
        <div class="row">
            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-md-12 mb-2">
                            <div class="md-form">
                                <label for="message" class="@RCS.Resources.Resource.text">@RCS.Resources.Resource.Yourmessage</label>
                                <textarea type="text" id="message" name="message" rows="8" class="form-control md-textarea"></textarea>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary ml-4" value="Send" id="send">
                    </div>
                    <!--Grid row-->
                </form>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0 mt-5">

                    <li>
                        <h6 class="border p-3">@Model.owner.UserName</h6>
                    </li>

                    <li>
                        <button type="button" class="popover-dismiss btn btn-primary p-2 mb-1" data-toggle="popover" title="@RCS.Resources.Resource.OwnerPhone" data-content="@Model.owner.PhoneNumber"><i class="fas fa-phone  fa-2x"></i></button>
                    </li>

                    <li>
                        <button type="button" class="popover-dismiss btn btn-primary p-2" data-toggle="popover" title="@RCS.Resources.Resource.OwnerEmail" data-content="@Model.owner.Email"><i class="fas fa-envelope  fa-2x"></i></button>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
    </section>
    <!--Section: Contact v.2-->

    <section id="AllMessages" class="mb-4 container p-4 mt-4 wow bounceInUp">
        <h4 class="@RCS.Resources.Resource.text">@RCS.Resources.Resource.Messages</h4>

    </section>
</div>


@section scripts{
    
    @Scripts.Render("~/bundles/jqueryval")
<script>
        new WOW().init();

        var swiper = new Swiper('.swiper-container', {
            effect: 'flip',
            grabCursor: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 3000,
            },
            lazy: {
                loadPrevNext: true,
            },
        });
       window.onload = function () {
           $.ajax({
                   url: `/api/Message?productid=${@Model.id}`,
                   method: "GET",
                    success: function (data) {
                        console.log(data);
                        for (let i = 0; i < data.length; i++) {
                            var type ="";
                            if (data[i].sender.UserName == "@Model.owner.UserName") {
                                type = "(Owner)";
                            }
                            var date = new Date();
                            var st = data[i].sent_date;
                            var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                            var dt = new Date(st.replace(pattern, '$3-$2-$1'));
                            date = dt;
                            var elem = `<div class="message border p-4">
                            <div class="row">
                                <div class="col-md-6"><h5 class="text-info @RCS.Resources.Resource.text">${data[i].sender.UserName} ${type}</h5></div>
                                <div class="col-md-6" ><h6 class="d-flex justify-content-end" style="color:#808080"><i class="fas fa-clock"></i> ${date.toString().substr(0,25)}</h6></div>
                            </div>
                            <p class="@RCS.Resources.Resource.text">${data[i].content}</p>
                        </div>`;
                            $("#AllMessages").append(elem);
                        }
                   }
               });
       };
       $("#send").on("click", function (e) {
           e.preventDefault();
           if ($("#message").val() == "") {
               bootbox.alert("Please Enter Message To Send.");
           }
           else {
               var message = $("#message").val();
               var msgDto = {};
               msgDto.productid = @Model.id;
               msgDto.senderid = "@User.Identity.GetUserId()";
               msgDto.content = message;
               $.ajax({
                   url: `/api/Message`,
                   method: "POST",
                   data: msgDto,
                   success: function (data) {
                       var type ="";
                       if (data.sender.UserName == "@Model.owner.UserName") {
                           type = "(Owner)";
                       }
                       var date = new Date();
                       var st = data.sent_date;
                       var pattern = /(\d{2})\.(\d{2})\.(\d{4})/;
                       var dt = new Date(st.replace(pattern, '$3-$2-$1'));
                       date = dt;
                       var elem = `<div class="message border p-4">
                                    <div class="row">
                                        <div class="col-md-6"><h5 class="text-info">${data.sender.UserName} ${type}</h5></div>
                                        <div class="col-md-6"><h6 class="text-right" style="color:#808080"><i class="fas fa-clock"></i> ${date.toString().substr(0,25)}</h6></div>
                                    </div>
                                    <p class="text-left">${data.content}</p>
                                </div>`;
                       $("#AllMessages").append(elem);
                   }
               });

           }
       });

</script>
    
    
}

