@model RCS.Models.ApplicationUser
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="personal container" style="min-height:800px;margin-top:10%;">
    <div class="container border p-5">
        <h5 class="text-info mb-2 @RCS.Resources.Resource.text">@RCS.Resources.Resource.PersonalInformation</h5>
        <hr />
        <div class="row justify-content-between @RCS.Resources.Resource.text">
            <div class="col-md-6">
                <p><b>@RCS.Resources.Resource.UserName</b> <span>@Model.UserName</span></p>
            </div>
            <div class="col-md-6">
                <p><b>@RCS.Resources.Resource.addressText</b> <span>@Model.address</span></p>
            </div>
            <div class="col-md-6">
                <p><b>@RCS.Resources.Resource.Phone</b> <span>@Model.PhoneNumber</span></p>
            </div>
            <div class="col-md-6">
                <p><b>@RCS.Resources.Resource.EmailText</b> <span>@Model.Email</span></p>
            </div>
            <div class="col-md-6">
                <p><b>@RCS.Resources.Resource.Gender</b> <span>@Model.gender</span></p>
            </div>
            <div class="col-md-6">
                <a href="/Manage/ChangePassword" class="btn btn-primary">@RCS.Resources.Resource.ChangePassword</a>
            </div>


        </div>
    </div>
</div>

